
  // Countdown
  .countdown {
    display: none;
    width: 100%;
    margin: 0 auto;
  
    .bloc-time {
      float: left;    
      margin-right: 25px;    
      text-align: center;    
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    .figure {
      position: relative;
      float: left;
      height: 110px;
      width: 100px;
      margin-right: 10px;
      background-color: #fff;
      border-radius: 8px; 
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08);
  
      &:last-child {
        margin-right: 0;
      }
    
      >span {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        font: 400 5.94em/107px BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      }
  
      .top, .bottom-back {    
        &:after {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
      }
  
      .top {
        z-index: 3;
        background-color: #f7f7f7;
        transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%; 
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px; 
        transform: perspective(200px);
      }
  
      .bottom {  
        z-index: 1;
        
        &:before {
          content: "";
          position: absolute;
          display: block; 
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background-color: rgba(0, 0, 0, .02);
        }
      }
  
      .bottom-back {
        z-index: 2;
        top: 0;
        height: 50%;
        overflow: hidden;    
        background-color: #f7f7f7;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
  
        span {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
  
      .top, .top-back {
        height: 50%;
        overflow: hidden;
        backface-visibility: hidden;
      }
  
      .top-back {
        z-index: 4;
        bottom: 0;
        background-color: #fff;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        transform: perspective(200px) rotateX(180deg);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
  
        span {
          position: absolute;
          top: -100%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
  