@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,300,300italic,400italic,700,700italic');

html {
    color: white;
    background: no-repeat center 20rem url("bg.jpg"), black;
    height: 100%;
    font-family: 'Fira Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (min-width: 33.75em) {
    html {
        background-size: 120%;
    }
}
@media only screen and (min-width: 60em) {
    html {
        background-size: 80%;
    }
}

.title {
    margin: 4rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 5px;
    // text-shadow: 0 0 8px orange;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #f1e186 86%, #ffe13e 100%);
    background-size: 1em 1em;
    color: #f8b700;
    z-index: auto;
    
    &::after {
        background: 0 0;
        content: attr(data-text);
        display: inline-block;
        left: 0;
        position: absolute;
        text-shadow: 0 1px 5px #000;
        top: 0;
        z-index: -1
    }
}

@media only screen and (min-width: 60em) {
    .title {
        font-size: 3.2rem;
    }
}
.intro-text {
    h3 {
        text-align: center;
        font-size: 1.6rem;
        color: #ddd;
    }
    p {
        opacity: 0.6;
        padding: 0 44px;
        text-shadow: 0 0 5px black;
        line-height: 140%;

        em {
            font-style: initial;
            color: gold;
            font-weight: 600;
        }
    }
}

.cta {
    margin-top: 5rem;
    text-align: center;

    a {
        opacity: 0.4;
        text-decoration: none;
        padding: 1.4rem 3rem;
        border: solid 1px white;
        border-radius: 6px;
        font-size: 1.4em;
        color: white;
        transition: opacity, background-color 0.6s;
        
        &:hover {
            opacity: 0.8;
            background-color: rgba(255, 255, 255, .2);
            transition: opacity, background-color 0.1s;
        }
    }
}

.footer {
    margin-top: 15em;
    margin-bottom: 1em;
    text-align: center;
    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: gold;
        }
    }
}